@import 'src/styles.scss';


svg {
    background-color: map-get($color, white);
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -100;
    opacity: 0.4;
  }
  
circle {
    z-index: 100;
    position: relative;
    opacity: 0.6;
}